{% extends "layout.html" %}

{% block content %}
  <div class="main-container">
    <div class="container">
      {% for name, db, description, query in results %}
      {% set algomuysucio = 'onClickQuery("{}","{}")'.format(db, query) %}

      <div class="query-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h6>{{db}} - {{name}}</h6>
          <button
            class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect play"
          >
            <i class="material-icons">play_arrow</i>
          </button>
        </div>
        <div class="mdl-card__supporting-text mdl-card--border">
          {% if name == "Mensajes emitidos por un usuario de la red social." %}
            <form><input type="text" name="id_persona" placeholder="Id de la persona"></form>
            <br>
            Filtro por ubicación:
            <form><input type="text" name="latitud" placeholder="Latitud"></form>
            <form><input type="text" name="longitud" placeholder="Longitud"></form>
            <br>
            Filtro por fecha:
            <form><input type="date" name="fecha_inicial"></form>
            <form><input type="date" name="fecha_final"></form>

          {% endif %}
          {% if name == "Mensajes intercambiados entre usuarios" %}
          <form><input type="text" name="id_1" placeholder="Id persona 1"></form>
          <form><input type="text" name="id_2" placeholder="Id persona 2"></form>
          <form><input type="date" name="fecha"></form>
          <br>
            Filtro por ubicación:
            <form><input type="text" name="latitud_e" placeholder="Latitud"></form>
            <form><input type="text" name="longitud_e" placeholder="Longitud"></form>
            <br>
            Filtro por fecha:
            <form><input type="date" name="fecha_inicial_e"></form>
            <form><input type="date" name="fecha_final_e"></form>
          {% endif %}

          {% if name == "Prueba hecha por Jorge" %}
            <form><input type="text" name="ide" placeholder="Id de la persona"></form>
          {% endif %}


          <div class="query-card-content">
            <span>
              {{description}}
            </span>
            <button
              class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect arrow"
            >
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </div>
          <div class="query-card-code">
            <span>{{query}}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
