{% extends "layout.html" %}

{% block content %}
  <div class="main-container">
    <div class="container">
      {% for name, db, description, query in results %}
      {% set algomuysucio = 'onClickQuery("{}","{}")'.format(db, query) %}
      <div class="query-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h6>{{db}} - {{name}}</h6>
          <button
            class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect play"
          >
            <i class="material-icons">play_arrow</i>
          </button>
        </div>
        <div class="mdl-card__supporting-text mdl-card--border">
          {% if name == "Usuarios" %}
          <form action="." method="post">
            Id del usuario:<br>
            <input type="text" name="id_del_usuario" placeholder="Id del usuario">
          </form>
          {% endif %}
          {% if name == "Busqueda de mensajes"%}
          <form action="." method="POST">
            Usuario que envia los mensajes:<br>
            <input type="text" name="user_id" placeholder="Id sender"><br>
            Usuario que recive los mensajes:<br>
            <input type="text" name="receptant_id" placeholder="Id receptant"><br>
            Fecha más temprana de los mensajes:<br>
            <input type="date" name="start_date" placeholder="YYYY-MM-DD"><br>
            Fecha más tardia de los mensajes:<br>
            <input type="date" name="end_date" placeholder="YYYY-MM-DD"><br>
            ubicación de los mensajes:<br>
            <input type="text" name="min_lat" placeholder="Latitud mínima"><br>
            <input type="text" name="max_lat" placeholder="Latitud máxima"><br>
            <input type="text" name="min_lon" placeholder="Longitud mínima"><br>
            <input type="text" name="max_lon" placeholder="Longitud máxima">
          </form>
          <br>
          {% endif %}
          <div class="query-card-content">
            <span>
              {{description}}
            </span>
            <button
              class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect arrow"
            >
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </div>
          <div class="query-card-code">
            <span>{{query}}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
