<html>
<head>
	<title>Esta wea Leaflet</title> 
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	
	
</head>
<body>
	<title>Esta wea Leaflet</title> 
	
	<div id="map"></div>

	<style>
    	#map{ height: 80% }
 	</style>

	<script>

	var map = L.map('map').setView([51.505, -71.09], 13);
	var osm = 'http://tiles.mapc.org/trailmap-onroad/{z}/{x}/{y}.png';
	L.tileLayer(osm).addTo(map);

	</script>
</body>
</html>