<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Leaflet</title> 
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<style>
    	#map{ height: 100% }
 	</style>
</head>
<body>

	<div id="map" style="width: 100%; height: 630px;"></div>


	<script type="text/javascript">

	var map = L.map("map").setView([51.505, -0.09], 13);
	var osmn = "http://{s}.title.osm.org/{z}/{x}/{y}.png";
	var osm = 'http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: 'Tiles by <a href="http://mapc.org">MAPC</a>, Data by <a href="http://mass.gov/mgis">MassGIS</a>',
      maxZoom: 17,
      minZoom: 9
    }

	L.tileLayer(osm).addTo(map);

	</script>
</body>
</html>
